@import "normalize";

//main body css//
body {
  font-family: 'Work Sans', sans-serif;
  background-image: url(http://www.developerdev.com/images/placeholders/1920x1200-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
  color: #f2f2f2;
}

.navbar-default {
  background-color: transparent;
  border: none;
  border-bottom: solid 1px white;
  border-radius: 0;
  height: 50px;
}

.container {
  text-align: center;
  max-width: 720px;
  margin: 0 auto;
}

//small parts css//

.navbar-default .navbar-nav > li > a:hover {
  background-color: white;
  color: black;
  border-radius: 25px;
  padding: 5px 15px;
  margin-top: 10px;
  transition-duration: .4s;
  transition-timing-function: ease;
}

.navbar-default .navbar-nav > li > a {
  border-radius: 25px;
  padding: 5px 15px;
  margin: 10px 5px 0 5px;
  color: #f2f2f2;
  transition-duration: .5s;
  transition-timing-function: ease;
  float:left;
  display: inline-block;
  text-decoration: none;
}

.navbar-default .navbar-nav > li {
  list-style: none;
}

.navbar-nav {
  height: 50px;
  width: 375px;
  margin: 0 auto;
  padding: 0;
}

//sign out button for me//

.sign_out {
  position: fixed;
  right: 0;
  bottom: 0;
}

.sign_out > li > a {
  text-decoration: none;
  background-color: white;
  color: black;
  border-radius: 25px;
  padding: 5px 15px;
  margin-top: 10px;
  transition-duration: .4s;
  transition-timing-function: ease;
}

.sign_out > li > a:hover {
  border-radius: 25px;
  background-color: transparent;
  padding: 5px 15px;
  margin-top: 10px;
  color: #f2f2f2;
  transition-duration: .5s;
  transition-timing-function: ease;
}

.sign_out > li {
  list-style: none;
  margin: 10px;
}

//welcome page content//
#welcome {
  margin-top: 20%;
}

hr {
  width: 10%;
  border: solid 2px;
}

//projects and posts//
.date {
  font-size: 16px;
}

.container > div > h3 > a {
  text-decoration: none;
  color: #80ccff;
}

.container > div > h3 > a:hover {
  color: #4da6ff;
}

.container > div > a {
  text-decoration: none;
  background-color: white;
  color: black;
  border-radius: 25px;
  padding: 5px 15px;
  margin-top: 10px;
  -webkit-box-shadow: 5px 5px 25px 5px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 5px 25px 5px rgba(0,0,0,0.5);
  box-shadow: 5px 5px 25px 5px rgba(0,0,0,0.5);
  transition-duration: 0s;
  transition-timing-function: ease;
  z-index: 1000;
}

.container > div > a:hover {
  padding: 6px 16px;
  -webkit-box-shadow: 6px 6px 25px 7px rgba(0,0,0,0.5);
  -moz-box-shadow: 6px 6px 25px 7px rgba(0,0,0,0.5);
  box-shadow: 6px 6px 25px 7px rgba(0,0,0,0.5);
  transition-duration: 0s;
  transition-timing-function: ease;
}

#email {
  color: #80ccff;
}

//mobile css//
@media only screen and (max-device-width : 1024px) {
  body {
    background-image: url(http://www.developerdev.com/images/placeholders/1920x1200-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    color: #f2f2f2;
  }

  .navbar-default {
    height: 100px;
  }
  .navbar-nav {
    display: inline-block;
    width: 320px;
  }

  .container {
    margin-bottom: 40%;
  }

  #welcome {
    margin-top: 0;
  }
}
